@import url(reset.css);
@import url(str.css);

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


header {
    height: 200vh;
}

.container {
    /* hide fixed overflow contents */
    clip: rect(0, auto, auto, 0);

    /* does not work if overflow = visible */
    overflow: hidden;

    /* only works with absolute positioning */
    position: absolute;

    /* Make sure containers are full-width and height */
    height: 100vh;
    left: 0;
    width: 100%;


    /* safari hack */
    -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
}

.container_solid {
    background: rgb(255, 255, 255);

    /* position this container at the top of its parent element */
    top: 0;
}

.title_wrapper {
    position: fixed;
    display: block;
    margin: auto;
    width: 100%;
    /* center the text wrapper vertically */
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.title_wrapper h1 {
    text-align: center;
    font-size: 200px;
    text-transform: uppercase;
    text-align: center;

    font-weight: 700;

    font-family: "Roboto Flex", sans-serif;
}

.container_solid .title_wrapper h1 {
    /* the text background */
    background: url(img/kamchatka.png);
    background-size: 100vw auto;
    background-position: center;

    /* clip the text is possible */
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    /* fallback text color */
    color: black;
}

.container_image {
    /* Grab a free image from unsplash */
    background-image: url(img/kamchatka.png);
    background-size: 100vw auto;
    background-position: center;
    background-attachment: fixed;

    /* position the second container below the first container */
    top: 100vh;
}

.container_image .title_wrapper h1 {
    color: white;
}

.bounce {
    padding-top: 50px;
    align-items: center;
    display: flex;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.bounce {
    animation: bounce 2s infinite;
    margin: 0 auto;
}